/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: #fd8864 radial-gradient(circle, transparent 1%, #fd8864 1%) center/15000%;
}
.ripple:active {
    background-color: #FF5722;
    background-size: 100%;
    transition: background 0s;
}
  
  /* Button style */
.button {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.25rem;
    background: #FF5722;
    cursor: pointer;
}

.button img {
  margin-right: 1rem;
}

.button:disabled {
  opacity: 0.3;
}
