nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav > h1 {
    color: #fff;
}

nav.full-opacity {
    background: #02537e;
}

#logo {
    text-align: center;
    display: block;
    font-size: 1.3em;
    margin-left: 1rem;
    margin-right: 3rem;
}

#logo>a {
    text-decoration: none;
    color: inherit;
}

.backdrop-fade-in {
    opacity: 1;    
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
}

.backdrop-fade-out {
    opacity: 0;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    pointer-events: none
}